<h1>New Task</h1>
<form action="/tasks" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
  <h2>Title</h2>
  <input type="text" placeholder="Title" name="task[title]">
  <h2>Details</h2>
  <input type="text" placeholder="Details" name="task[details]">
  <input type="submit">
</form>
